body {
  background: #000000;
  color: #ffffff;
  font-family: "Sans-Serif";
}

#mainHead {
  margin: auto;
  align: center;
  color: #ffffff;
}

.search {
  display: block;
  margin: auto;
  padding: 5px;
  color: #ffffff;
}

#searchIn {
  display: block;
  margin: auto;
  background: #333333;
}
